.modal {
    width: 50%;
    height: 75%;
    position:fixed;
    top: 12.5%;
    left: 25%;
    
    background-color: white;
    opacity: 1;

    border-style: solid;
    border-radius: 2px;
    border-color: grey;
    
}

.page-block {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(240,240,240, 0.5);
}